body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

div {
  text-align: left;
}

h2 {
  text-align: center;
  padding-bottom: 20px;
}

form {
  max-width: 300px;
  margin: 0 auto;
  /* padding: 20px; */
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  padding-right: 0px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.1);
  outline: none;
}

.login-register-buttons{
  display: flex;
  flex-direction: row;
}

.login-button{
  margin-right: 9px;
}

.register-button{
  margin-left: 9px;
  background-color: #013f68; 
}

button {
  width: 100%;
  padding: 10px;
  background-color: #3498db; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9; 
}
